version: '3.8'

services:
  # --- Aplicação Next.js ---
  recruta-app:
    container_name: recruta_artheria_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3010:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - app-network

  # --- Banco de Dados Postgres ---
  # ...
  postgres:
    container_name: recruta_artheria_db
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}        
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}             
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
 
    networks:
      - app-network

networks:
  app-network:
    driver: bridge